#modal-box {
  width: 80vw;
  height: 85vh;
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.6);
  display: flex;
  margin: 0 auto;
  position: fixed;
  top: 8%;
  padding: 0.6vw;
}

#modal-content {
  margin: 1vw;
  padding: 0.6vw;
  box-sizing: border-box;
  background-color: rgba(200, 200, 200, 0.85);
  width: 100%;
  text-align: left;
}

#nav {
  width: 5vw;
  position: fixed;
  height: 100%;
}

#view {
  padding-left: 6vw;
}

#input {
  padding-left: 6vw;
}
